<!DOCTYPE html>
<html>
  <head>
    <title>PropertyManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="ui inverted middle aligned segment">
      <div class="ui container">
        <div class="ui inverted masthead secondary pointing menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
          <div class="right item">
            <% if user_signed_in?%>
              <%= link_to 'Log out', destroy_user_session_path , method: :delete , class: 'ui inverted button'  %>
            <% else %>
              <%= link_to 'Log in', user_session_path , class: 'ui inverted button'  %>
              <%= link_to 'Sign Up', new_user_registration_path , class: 'ui inverted button'  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <div class="ui container">
      <%= yield %>
    </div>

  </body>
</html>
